@mixin font {
  font-family: Roboto;
}

.sign-in {
  width: 450px;
  display: flex;
  flex-direction: column;

  .group .form-input {
    background: transparent;
    color: #111111;
  }

  .title {
    margin-top: 10px 0;
    margin-bottom: 15px;
    font-size: 35px;
  }

  .sub-title {
    margin: 5px;
    font-size: 15px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
