@mixin font() {
  font-family: Roboto;
}

.ingredients-page {

  .ingredients-header {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 0px 10%;

    .title {
      @include font();
      font-size: 28px;
      width: 20%;
      max-width: 1600px;
      margin: auto;
    }

    .nav-bar {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      //max-width: 1600px;
    }

    .btn-openModal {
      @include font();
      position: relative;
      top: 25%;
      font-size: 1rem;
      padding: 0.5rem 1.8rem;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      width: 20%;
      height: 50px;
      left: 0px;
      float: right;
      margin: 0;
      align-items: center;
      vertical-align: center;
    }
  }

  .ingredients-listings {
    @include font();
    height: 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    flex-wrap: wrap;
    //max-width: 1600px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;


    .results {
      margin: auto 20px;
    }

    .btn-sort {
      @include font();
      background-color:#FFDD94;
      text-decoration: none;
      border: none;
      text-align: center;
      cursor: pointer;
      outline: none;
      backdrop-filter: blur(10px);
      box-sizing: border-box;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.1);
      transition: all 0.2s ease;

      max-width: 340px;
      padding: 8px 13px;
      margin: auto 20px;

      &:hover {
        background-color:#FEC13E;
        transition: all 0.3s ease;
      }
    }
  }
}


