.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% + 1rem);
  margin: 0 auto;
  max-width: 1500px;
  padding-bottom: 30px;

  .preview {
    display: contents;
    justify-content: space-between;
  }
}

.checkout-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;

  .image {
    display: inline-block;
    width: 24vw;
  }

  .text {
    position: absolute;
    bottom: 20px;
  }
}
