@mixin font {
  font-family: Roboto;
}

.header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10%;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.12);

  .logo-container {
    height: 100%;
    width: 50px;

    .logo {
      height: 85%;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .options {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include font();
    font-weight: bold;

    .option {
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        cursor: pointer;

        color: #FEC13E;
        transition: all 0.2s ease;
      }
    }
  }

  .btn-login {
    @include font();
    position: relative;
    top: 15%;
    font-size: 14px;
    padding: 0.5rem 1.8rem;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    width: 10%;
    height: 50px;
    left: 0px;
    float: right;
    margin: 0;
    align-items: center;
    vertical-align: center;
    font-weight: 700;
  }
}
