.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% + 1rem);
  margin: 0 auto;
  max-width: 1500px;
  padding-bottom: 30px;

  .preview {
    display: contents;
    justify-content: space-between;
  }
}
