.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% + 1rem);

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    width: 100%;
  }

  .preview {
    display: contents;
    justify-content: space-between;

  }
}
