.footer {
  background: rgb(255, 215, 126);
  background: linear-gradient(273.85deg, #FFDD94 1.04%, rgba(255, 230, 176, 0.8) 93.82%);
  display: flex;
  justify-content: center;
  padding: 10vh 10vh 20vh 10vh;
}

.grid-header {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  //line-height: 28px;
  margin-bottom: 2vh;
}

.grid {
  width: 15vw;
  margin: 0 3vw;
}

.grid:first-child {
  margin: 0 3vw 0 0;
}

.grid:last-child {
  margin: 0 0 0 3vw;
}

.item {
  margin-bottom: 1vh;
}