form div {
  margin: 4vh 0;
  font-size: 1.5rem;
  color: #292929;
}

input, textarea {
  border: none;
  border-bottom: #838383 solid 2px;
  outline: none;
  padding: 1vh 0;
  font-size: 1.5rem;
  margin: 1vh 1vh 1vh 0;
  transition: border-bottom .1s;
}

input:hover, textarea:hover {
  transition: border-bottom .1s;
  border-bottom: #fa897b solid 2px;
}

.field1-2 {
  display: flex;
  justify-content: space-between;
}

.field4-5-6 {
  display: flex;
  justify-content: space-between;
}

.field4-5-6 input {
  width: 5.6vw
}

.url-source input {
  width: 100%;
}

.btn-submit {
  display: inline-block;
  font-size: 1rem;
  margin-left: 25%;
  padding: 0.5rem 1.8rem;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  width: 20%;
  height: 50px;
  left: 0px;
  top: 505px;
  float: left;
  margin-top: 5%;
}
