.search-bar-box {
  display: flex;
  align-items: center;
  padding: 0 4rem;
  width: 45rem;

}

.search-bar-input {
  font-size: 1rem;
  background: #dddddd;
  padding: 2vh 4vh 2vh 2vh;
  border-radius: 12px;
  outline: none;
  border: none;
  width: 18rem;

  &:hover {
    transition: background .1s;
    background: linear-gradient(273.91deg, #FFDD94 1.04%, rgba(255, 230, 176, 0.8) 98.54%);
  }
}