body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.back-drop {
  opacity: 0;
  background: rgba(254, 193, 62, .8);
  height: 100%;
  transition: all .5s ease;
  position: fixed;
  overflow: auto;
  width: 100%;
  top:0;
  left:0;
  padding:0;
  margin:0;
  z-index: -1;
  backdrop-filter: blur(1.5px);

  &.show {
    opacity: 1;
    transition: opacity .5s ease;
    z-index: 2;
  }
}

.btn {
  background: linear-gradient(273.91deg, #FFDD94 1.04%, rgba(255, 230, 176, 0.8) 98.54%);
  border-radius: 4px;

  &:hover {
    background: #FEC13E;
  }
}

