.recipes-page {

  .recipes-header {
    background: aliceblue;
    width: 100%;
    height: 60px;
    display: flex;

    .title {
      font-size: 28px;
      width: 20%;
      max-width: 1600px;
      margin: auto 4vw;
      padding-left: 20px;
    }

    .nav-bar {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }

    .btn-openModal {
      position: relative;
      background: #fec13e;
      float: right;
      width: 10%;
      margin: 1vh 5vw 1vh 1vh;
      cursor: pointer;
      padding: 1vh;

      transition: background .1s, border .1s, border-radius .1s;
      border: #fec13e solid;
      border-radius: 5px;
      outline: none;

      &:hover {
        transition: background .1s, border .1s, border-radius .1s;
        background: #f17061;
        border: #f17061 solid;
        opacity: .8;
        outline: none;
      }

      &:active {
        border: #f17061 solid;
        opacity: 1;
        outline: none;
      }
    }
  }
}