.recipes-page {

  .recipes-header {
    background: aliceblue;
    width: 100%;
    height: 60px;
    display: flex;

    .title {
      font-size: 28px;
      width: 20%;
      max-width: 1600px;
      margin: auto 4vw;
      padding-left: 20px;
    }

    .nav-bar {
      width: 80%;
    }

    .btn-openModal {
      background: #cbcbcb;
      float: right;
      width: 10%;
      margin: 1.6vh 5vw;
      cursor: pointer;
    }
  }
}